{{#apiCategories}}
  <div class="methodgroup">
    <h2>{{ category }}</h2>
    {{#methods}}
    	<a data-method="{{method}}" href="#q={{method}}&amp;type=api">{{method}}</a>
    {{/methods}}
  </div>
{{/apiCategories}}