{{#camera}}
<a class="cameraModel" href="#type=camera&q={{id}}&brand={{brand}}" title="{{name._content}}">
	<img src="{{#images.small._content}}{{images.small._content}}{{/images.small._content}}{{^images.small._content}}camera.jpg{{/images.small._content}}" alt="" width="75">

	<p>{{name._content}}</p>
</a>
{{/camera}}