{{#group}}
	<div class="group">
		<a href="#q={{nsid}}&amp;type=group">
			<img src="{{#iconfarm}}http://farm{{iconfarm}}.staticflickr.com/{{iconserver}}/buddyicons/{{nsid}}.jpg{{/iconfarm}}  {{^iconfarm}}http://www.flickr.com/images/buddyicon.gif{{/iconfarm}}" alt="">
		</a>
		<div class="groupinfo">
			<a href="#q={{nsid}}&amp;type=group">{{name}}</a>
			<span class="stats">{{pool_count}} photos · {{members}} members</span>
		</div>
	</div>
{{/group}}