<h1><a target="_blank" href="http://flickr.com"><span style="color: #0063DC;">Flick</span><span style="color: #FF0084;">r</span></a> is the best photo management site on the internet!</h1>
<div class="clearfix"></div>
<div id="primary">
	<div class="primary_inner">
		<h2 class="h2_interestingness">Interesting Photos</h2>
		<div id="hm_interestingness"></div>
		<div id="hm_sets">
			<div class="hmsets_inner">
				<h2>Browse Photosets</h2>
				<div class="content loading"></div>
			</div>
		</div>
		<div id="hm_galleries">
			<h2>Browse Galleries</h2>
			<div class="content loading"></div>
		</div>
		<div id="hm_groups">
			<h2>Browse Groups</h2>
			<div class="content loading"></div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div class="sideblock">
		<h2>Browse People</h2>
		<div id="hm_people" class="loading"></div>
		<h2>Hot Tags</h2>
		<div id="hm_tags"></div>
	</div>
	<div class="sideblock">
		<a href="#type=api" class="apilink"><span>Build apps with the</span>Flickr API <span>or find apps in the App Garden</span></a><a target="_blank" href="http://www.flickr.com/help/limits/#28" class="apilink prolink"><span>Do more with</span>Flickr Pro </a><a href="http://blog.flickr.net/" class="imglink" target="_blank"><img src="http://flickrtheblog.files.wordpress.com/2008/11/flickblog_logo.gif" alt="" style="opacity: 1;" /></a><a href="http://code.flickr.com/" class="imglink" target="_blank"><img src="http://flickrcode.files.wordpress.com/2012/09/code-flickr-com-drawn-header-grey-large.png" alt="" width="160px" style="opacity: 1;" /></a>
		<h2>Flickr is mobile</h2>
		<div class="mobileapp">
			<a target="_blank" title="Flickr for Android" href="http://flickr.com/android/"><img alt="" src="http://l.yimg.com/g/images/android.jpg" width="160" style="opacity: 1;" /></a>
			<h3><a target="_blank" href="http://flickr.com/android/">Flickr for Android</a></h3>
		</div>
		<div class="mobileapp">
			<a target="_blank" title="Flickr for iPhone" href="http://itunes.apple.com/us/app/flickr/id328407587"><img alt="" src="http://l.yimg.com/g/images/iphone.jpg" width="160" style="opacity: 1;" /></a>
			<h3><a target="_blank" href="http://itunes.apple.com/us/app/flickr/id328407587">Flickr for iPhone</a></h3>
		</div>
		<div class="mobileapp">
			<a target="_blank" title="Flickr for Windows Phone" href="http://www.windowsphone.com/en-us/store/app/flickr/2e49fb07-592b-e011-854c-00237de2db9e"><img alt="" src="http://l.yimg.com/g/images/windows.jpg" width="160" style="opacity: 1;" /></a>
			<h3><a target="_blank" href="http://www.windowsphone.com/en-us/store/app/flickr/2e49fb07-592b-e011-854c-00237de2db9e">Flickr for Windows Phone</a></h3>
		</div>
		<div class="mobileapp">
			<a target="_blank" title="m.flickr.com" href="http://m.flickr.com"><img alt="" src="http://l.yimg.com/g/images/mflickr.jpg" width="160" style="opacity: 1;" /></a>
			<h3><a target="_blank" href="http://m.flickr.com">m.flickr.com</a></h3>
		</div>
		<div class="mobileapp">
			<a target="_blank" title="Upload via email" href="http://www.flickr.com/account/uploadbyemail/"><img alt="" src="http://l.yimg.com/g/images/yahoomail.jpg" width="160" style="opacity: 1;" /></a>
			<h3><a target="_blank" href="http://www.flickr.com/account/uploadbyemail/">Upload via email</a></h3>
		</div>
	</div>
</div>
