<a class="username" href="#type=user&q={{photoset.owner}}">
	{{photoset.username}} 
</a> 
&rarr;
<a href="#type=user&q={{photoset.owner}}&view=photosets">
	Photosets
</a> 
&rarr; 
<p class="name">
	<a href="http://www.flickr.com/photos/{{photoset.owner}}/sets/{{photoset.id}}/">
		{{photoset.title._content}}
	</a>
</p>
&middot; {{photoset.count_photos}} photos
&middot; {{photoset.count_views}} views