<img 
	src="{{#iconserver}}http://farm{{iconfarm}}.staticflickr.com/{{iconserver}}/buddyicons/{{id}}.jpg{{/iconserver}}
	{{^iconserver}}http://www.flickr.com/images/buddyicon.gif{{/iconserver}}" 
	alt="">
<div class="details">
	<p class="name">
		<a target="_blank" href="http://www.flickr.com/groups/{{id}}">{{name._content}}</a>
	</p> 
	&rarr; 
	{{members._content}} members 
	&middot; 
	{{pool_count._content}} photos
</div>
