<a class="username" href="#type=user&amp;q={{gallery.owner}}">
	{{gallery.username}}
</a> 
&rarr; 
<a href="#type=user&amp;q={{gallery.owner}}&amp;view=galleries">
	Galleries
</a>
&rarr; 
<p class="name">
<a href="gallery.url" target="_blank">
	{{gallery.title._content}}
</a>
</p>
&middot; {{gallery.count_photos}} photos 
&middot; {{gallery.count_views}} views