<a target="_blank" class="external" href="http://www.flickr.com/services/api/">API Documentation</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/keys/">API Keys</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/">The App Garden</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/tos/">Flickr APIs Terms of Use</a> &middot;
<a target="_blank" class="external" href="http://www.flickr.com/services/developer/">Developer Guide</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/misc.overview.html">Overview</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/misc.buddyicons.html">Buddy Icons</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/misc.encoding.html">Encoding</a> &middot; 
<a target="_blank" class="external" href="http://www.flickr.com/services/api/misc.urls.html">URLs</a>