<div class="photoset">
	<a href="#q={{id}}&amp;type=photoset" class="setCase">
		<img src="http://farm{{farm}}.static.flickr.com/{{server}}/{{primary}}_{{secret}}_s.jpg" alt="">
	</a>
	<a href="#q={{id}}&amp;type=photoset">
		<span class="settitle">{{title._content}}</span>
		<span class="photocount">{{photos}} photos</span>
	</a>
</div>